* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    font-size: large;
}

.container {
    border: 5px solid red;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(7, 1fr), repeat(4, 1fr);
    /* grid-template-rows: repeat(7, 1fr); */
    /* grid-template-columns: repeat(4,1fr); */
    /* grid-template-areas: “header header header header”
    “small-box-1 small-box-2 small-box-3 side”
    /* “small-box-1 small-box-2 small-box-3 side” */
    /* “main main main side” */
    /* “main main main side”
    “main main main side”
    “main main main side” */
    /* “footer footer footer footer”; */
    grid-gap: 10px;
    width: 100%;
    height: 95vh;
}

.container>* {
    border: 1px solid blue;
    background-color: greenyellow;
    padding: 10px;
}

.header {
    grid-area: 1/1/2/5;
}


/* .smal-box-1, .smal-box-2, .smal-box-3 .sidebar {
    justify-content: space-around;
} */

.small-box-1 {
    grid-area: 2/1/5/2;
    /* height: 300px; */
}

.small-box-2 {
    grid-area: 2/2/5/3;
}

.small-box-3 {
    grid-area: 2/3/5/4;
}

.sidebar {
    grid-area: 2/4/7/5;
}

.main {
    grid-area: 5/1/7/4;
}

.footer {
    grid-area: 7/1/8/5;
}