.main__container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main__container--chart {
  background-color: #EEEEEE;
  border-radius: 10px;
  width: 340px;
  height: 390px;
  margin: 1px;
}
.main__container--chart img {
  margin: 25px;
  width: 100px;
  height: 110px;
  border-radius: 15px;
}
.main__container--chart-item1 {
  display: flex;
}
.main__container--chart-item1 p {
  margin: 25px;
  color: #F1A373;
}
.main__container--chart-item1 p-container span {
  text-decoration: line-through;
  color: black;
}
.main__container--chart-item2 {
  display: flex;
}
.main__container--chart-item2 p {
  margin: 25px;
}
.main__container--chart-pay p {
  margin: 10px 25px;
  border-top: 2px solid #BFBFBF;
}
.main__container--chart-pay span {
  margin-left: 185px;
}