.main {
    &__container {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        &--chart {
            background-color: #EEEEEE;
            border-radius: 10px;
            width: 340px;
            height: 390px;
            margin: 1px;
            & img {
                margin: 25px;
                width: 100px;
                height: 110px;
                border-radius: 15px;
            }
            &-item1 {
                display: flex;
                & p {
                    margin: 25px;
                    color: #F1A373;
                    &-container {
                        & span {
                            text-decoration: line-through;
                            color: black;
                        }
                    }
                }
            }
            &-item2 {
                display: flex;
                & p {
                    margin: 25px;
                }
            }
            &-pay {
                & p {
                    margin: 10px 25px;
                    border-top: 2px solid #BFBFBF;
                    ;
                }
                & span {
                    margin-left: 185px;
                }
            }
        }
    }
}